<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mi</title>
    <%- include('partials/head.ejs')%>
</head>
<body>

    <%- include('partials/navigation.ejs')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center aling-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro labore possimus rerum aliquid quisquam ipsum impedit velit magni repudiandae ullam sit enim tempore, error ipsa praesentium odit tenetur illo dolor quo excepturi laboriosam cumque ad quos! Soluta ad quidem voluptate. Fugit amet mollitia ipsa et, nihil ducimus nisi earum explicabo sint porro, quisquam dolores nobis atque distinctio quas? Temporibus totam, natus adipisci, ab fugiat ullam odio nam similique dolores eum ex aperiam ducimus soluta quos fugit quae saepe fuga maiores est cum consequatur! Provident quis vero veritatis atque numquam saepe excepturi laboriosam et consequuntur earum vel dolor hic natus, accusamus dolore molestiae. Eos ratione at dolore saepe incidunt praesentium autem perspiciatis magni ab voluptatibus temporibus assumenda dolorem accusantium fuga rerum minima nihil, quas animi beatae quis, ipsam exercitationem, dolores harum! Temporibus reprehenderit ullam iusto. Quia dignissimos maiores deserunt. Similique, dolorem fugit suscipit voluptates amet veniam eligendi deserunt cupiditate quasi officiis numquam velit incidunt odit exercitationem. Odio vel in beatae! Tempore in aut unde provident. Eum voluptatem quo exercitationem quasi culpa ad, amet explicabo, consequatur odio dignissimos fugit vitae temporibus. Ipsum nihil deserunt aliquam, magni minima qui quaerat officia. Minus amet dolor nostrum molestias exercitationem officiis culpa sapiente, explicabo nesciunt ut quo voluptatem, aperiam, accusamus sint. Perferendis maiores sit aspernatur, nulla sapiente magnam nesciunt adipisci rem quo consectetur nostrum veritatis, exercitationem ipsa vel! Nam minus nulla consequuntur at. Corporis vel, animi modi cupiditate nemo culpa at minima saepe placeat doloribus ullam natus illum necessitatibus eos mollitia unde quidem dolores dignissimos facere magnam quam ad assumenda optio. Delectus quidem fugit saepe ipsa minus architecto facilis. Recusandae doloremque fuga ab accusamus modi. Unde illo eligendi explicabo illum quas esse hic commodi, veniam officiis perferendis beatae in eum minus dolores dolore ducimus ratione voluptatem. Provident quos tempore asperiores amet expedita deleniti aspernatur omnis dolor.</p>
        </section>
    </main>


    <%- include('partials/footer.ejs')%>
    
</body>
</html>