<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title%> </title>
    <%- include('partials/head.ejs')%>
   
</head>
<body>

    <%- include('partials/navigation.ejs')%>

    
        <div class="vh-100 container text-center d-flex justify-content-center aling-items-center mx-auto p-5 ">
            <img src="/img/logo.png" style="width: 200px; height: 100px;" alt="...">
        </div>

    <%- include('partials/footer.ejs')%>

    
</body>
</html>
